
.applyButton{
  margin: 0 auto;
}
.colorInput {
  max-width: 60px;
}
.weightInput {
  max-width: 70px;
  margin-left: 10px;
  text-align: center;
}
.resultDiv {
  text-align: center;
}

.labelInput{
  border-radius: 10px;
  margin: 10px;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.center {
  text-align: center;
}

.nameText{
  margin: 10px;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.weightText {
  margin-right: 55px;
}